fastapi
uvicorn
sqlalchemy
psycopg2
databases[postgresql]
asyncpg
python-dotenv 
langchain
langchain-google-genai
scikit-learn
numpy 
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
langchain-community
langchain-google-community
unstructured
unstructured[pdf]
unstructured[docx]
unstructured[xlsx]
unstructured[pptx]
pymongo
langchain-mongodb
langgraph