fastapi
uvicorn
sqlalchemy
databases[postgresql]
asyncpg
python-dotenv 
langchain
langchain-google-genai
scikit-learn
numpy 
# langchain-google-storage
unstructured
unstructured[pdf]
unstructured[docx]
unstructured[xlsx]